.bg-green{
    background-color: #04aa6d ! important;
}
.navbar{
    padding: 0px 0px !important;
}
.navbar-nav .nav-link{
    color: #fff !important ;
    font-weight: 600;
    border-right: 1px solid;
    padding: 8px 18px  !important;
}
.bg-gray{
    background-color: #ddd;
}